/* fonts */ 

 @font-face {
  font-family: "Big john pro";
  src: url("/assets/fonts/bigjohnpro-bold.otf") format("otf"), url("assets/fonts/bigjohnpro-bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Big john pro";
  src: url("/assets/fonts/bigjohnpro-light.otf") format("otf"), url("assets/fonts/bigjohnpro-light.woff") format("woff");
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: "Big john pro";
  src: url("/assets/fonts/bigjohnpro-regular.otf") format("otf"), url("assets/fonts/bigjohnpro-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* flexbox */ 

.between { 
  justify-content: space-between;
}

.evenly {
  justify-content: space-evenly;
}

.center {
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex; 
}

.column {
flex-direction: column;
}

.around {
  justify-content: space-around;
}


/*body*/

body {
  background-color: #919FC5; 
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Big john pro", sans-serif;
}


/*header*/

header {

  width: 100vw;
  height: auto; 
  z-index: 1; 
  background-color: #919FC5;
}

.logo-Perso {
  padding: 20px; 
}

ul {
  margin-right: 115px; 
}

li {
  list-style-type: none;
  padding: 20px;
  font-size: 20px;
  color: white; 
}

.burger {
  display: none; 
}



/* heroHeader */

.hero-Header {
  height: 85vh; 
  color: white; 
  position: relative;
}

h1 {
  font-weight: bold; 
  font-size: 40px;
}

h2 {
 font-weight: normal;
 font-size: 30px; 
}

h3 {
  font-weight:lighter;
  font-size: 26px; 
}

.forme-Hero {
  padding-left: 20px;
}

.line {
  position: absolute; 
  bottom: -70px; 
}

/*présentation*/

.portrait {
  width: 325px;
  height: auto;
  border-radius: 20px;
}

.presentation {
  
}

.white-Container {
  background-color: white;
  width: 80vw;
  height: 85vh;
  border-radius: 30px;
  align-items: center;
  
  margin-top: 30px; 
  position: relative;
}

.text-Presentation {
  width: 40%;
  height: auto;
}

.text-Presentation p {
  font-size: 20px;
  text-align: justify;
}

.text-Presentation h2 {
  color: #8FCBD3;
  font-weight: bold;
}

.aside {
  position: absolute;
  background-color: #8FCBD3;
  padding: 30px 100px;
  border-radius: 15px;
  color: white;
  font-size: 25px;
  bottom: -100px;
  right: 400px;
}

.aside .triangle {
  padding-top: 20px;
}

/*Projets*/ 

.projets {

  width: 100vw;
  background-color: white; 
  margin-top: 400px;
  text-align: center;
}

.projets h2 {
  padding-top: 50px;
  font-size: 30px;
  font-weight: bold;
  color: #8FCBD3;
}

.pictures {
  padding: 30px; 
}

.individual-pic { 
  padding: 20px; 
}

/*contacts*/


.contacts {
  height: 90vh; 
  position: relative; 
}

.forme-contact {
  position: absolute; 
  margin-left: 20px;
  z-index: 1;
}

.form {
  z-index: 2; 
}

.form h2 {
  font-size: 25px;
  font-weight: bold;
  color: #8FCBD3;
}

label {
  font-size: 18px;
  font-weight: lighter; 
  color : #919FC5; 
  margin : 10px; 
}

input {
  width: 210px;
  height: 42px; 
  border-radius: 10px;
  border: 2px solid #8FCBD3;
}

textarea {
  width: 210px;
  height: 106px;
  border-radius: 10px;
  border: 2px solid #8FCBD3;
}

button {
  font-family: 'Big john pro', sans-serif;
  font-size: 18px; 
  font-weight: bold; 
  border-radius: 5px; 
  background-color: #919FC5;
  color: white; 
  border: 1px solid #919FC5;
  margin-top: 5%;
  padding: 10px 30px; 
}

.line-contact {
  position: absolute; 
  top: -2px; 
}


/*footer*/

footer {
  height: 10vh; 
  align-items: center;
}

.up {
  margin-left: 2%;
}

.social {
  margin-right: 2%;
}

.icon-Social {
  padding: 3%;
}

.up-container {
  color: white; 
  align-items: center;
  margin-left: 2%;
}

.up-container p {
  font-size: 20px; 
  font-weight: lighter; 
  margin-left: 10%; 
}



/* media queries */

@media screen and (max-width: 1200px) {

  .aside {
    right: 20%;
  }

}

@media screen and (max-width: 1000px) {



}


@media screen and (max-width: 850px) {

  ul, li {
    display: none; 
  }

  .burger {
    display: block; 
    margin-right : 5%; 
  }

}


@media screen and (max-width: 800px) {

  /* HeroHeader */
  
  .forme-Hero {
    width: 219px; 
    height: auto; 
    padding-top: 5%;
  }

  .hero-Header {
    flex-direction: column;
    height: 90vh; 
  }

  /* présentation */ 


  .white-Container { 
    flex-direction: column; 
    width: 100vw;
    height: auto; 
    border-radius: 0px;
    padding-top: 7%;
    padding-bottom: 7%;
  }

  .portrait {
    padding: 5%; 
    width: 309px;
    height: auto;
    border-radius: 50px;
  }

  .text-Presentation{
    width: 80%;
    height: 80%;
  }


  .text-Presentation h2 {
    text-align: center;
  }

  .pictures {
    flex-wrap: wrap;
  }

  .individual-pic{
    width: 200px; 
    height: auto; 
    padding: 5%; 
  }

  .aside {
    position: initial;
    padding: 10px 100px;
    text-align: center;
  }

  /*Projets*/

  .projets {
    margin-top: 20%;
  }

  /*contact*/

  .forme-contact {
    display: none;
  }

  .form {
    background-color: white;
    padding: 10%;
    border-radius: 20px;
  }

  /*footer*/

  .icon-Social {
    width: 40px;
    height: 40px; 
  }


  .up {
    width: 40px; 
    height: 40px; 
  }

}

@media screen and (max-width: 450px) {
  .aside {
    font-size: 18px; 
    padding: 10px 60px; 
  }
}


/* Ipad */

@media screen and (width: 768px) and (height: 1024px) {

  /* présentation */

  .white-Container {
    padding-bottom: 80px;
  }

  .portrait {
    width: 325px;
  }

  .text-Presentation p {
    margin: 10px 130px;
  }

  .aside {
    padding: 10px 80px;
    margin-top: 50px;
    text-align: center;
  }

  /* projets*/

  .projets {
    margin-top: 300px; 
  }

}

/* Ipad pro */ 

@media screen and (width: 1024px) and (height: 1366px) {

  /* Hero Header */

  .line {
    position: absolute; 
    bottom: -90px; 
  }

  /* présentation */

  .white-Container {
    height: 65vh;
    margin-top: 90px; 
  }

}
