
@font-face {
  font-family: "Big john pro";
  src: url("/assets/fonts/bigjohnpro-bold.otf") format("otf"), url("assets/fonts/bigjohnpro-bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Big john pro";
  src: url("/assets/fonts/bigjohnpro-light.otf") format("otf"), url("assets/fonts/bigjohnpro-light.woff") format("woff");
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: "Big john pro";
  src: url("/assets/fonts/bigjohnpro-regular.otf") format("otf"), url("assets/fonts/bigjohnpro-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* Animations */ 

@keyframes entry {
  0% {
    opacity: 0; 
    transform: translateY(-300px) scale(1.5);
  }
  100% {
    opacity: 1; 
    transform: none;
  }
}

@keyframes opacity {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

/* flexbox */ 
.flex {display: flex;}
.center {justify-content: center; align-items: center;}
.between {justify-content: space-between;}
.evenly {justify-content: space-evenly;}
.column {flex-direction: column;}

/* background-color & color */
.bg-purple {background-color: #919FC5;}
.bg-blue {background-color: #8FCBD3;}
.bg-white {background-color: white;}
.text-purple {color: #919FC5;}
.text-blue {color: #8FCBD3;}
.text-white {color: white;}

/* Font */ 
.bold {font-weight: bold;}
.light {font-weight: lighter;}

/* width & height*/
.w100 {width:100vw;}

/*body*/
* {box-sizing: border-box;}

body {
  margin: 0px;
  padding: 0px;
  font-family: "Big john pro", sans-serif;
  color: white;
}

a {text-decoration: none; transition: transform 0.2s;}
a:hover {transform: scale(1.2);}

/*header*/
header {position: fixed; z-index: 9;}

.personal-logo {padding: 15px;}

ul {
  margin-right: 115px;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.nav-choice {
  list-style-type: none;
  padding: 20px;
  font-size: 20px;
}

.nav-shape {
  position: absolute;
  left: 10%;
  z-index: 10;
  opacity: 0.6;
  transition: all 0.2s; 
}

.burger {display: none;}

/* heroHeader */
.hero-header {height: 100vh; position: relative;}
.hero-titles {line-height: 40px; margin-right: 10px;}

.hero-titles h1 {
  opacity: 0; 
  font-size: 40px;
  animation: entry 3s;
}

.hero-titles h2 {
 opacity: 0;
 font-weight: normal;
 text-align: center;
 animation: opacity 1s; 
 animation-delay: 3s;
}

.hero-titles h3 {
  opacity: 0;
  font-size: 26px;
  text-align: center;
  animation: opacity 1s; 
  animation-delay: 3.1s;
}

.hero-shape {padding-left: 20px; margin-left: 20px;}
.hero-line {position: absolute; bottom: -70px;}

/*présentation*/
.portrait {
  width: 325px;
  height: auto;
  padding: 10px; 
  border-radius: 20px;
}

.presentation-container {
  width: 80vw;
  height: 85vh;
  border-radius: 30px;
  align-items: center;
  margin-top: 30px; 
  position: relative;
}

.presentation-text {
  width: 600px;
  padding: 10px;
  color: black; 
}

.presentation-text p {font-size: 20px; line-height: 25px;}
.presentation h2 {text-align: start;}

.aside {
  position: absolute;
  padding: 30px 100px;
  border-radius: 15px;
  font-size: 20px;
  bottom: -200px;
  right: 20%;
}

.aside .triangle {padding-top: 10px;}

/* Projects */ 

span {color:black;}
.projects {margin-top: 400px; padding: 20px;}

.projects h2 {
  font-size: 30px;
  opacity: 0;
  text-align: center;
  transform: translateY(50px) scale(0.8);
  transition : opacity 0.3s, transform 0.3s;
}

.projects h2.is-active {
  opacity: 1; 
  transform: none;
}

.pictures {
  width: 100%; 
}

.individual-pic {
  width: 250px;
  height: 250px;
  border-radius: 40px;
  margin: 20px; 
  filter: grayscale(1) blur(0.5px);
  opacity: 0;
  transform: translateY(50px) scale(0.8);
  transition : opacity 0.3s, transform 0.3s, filter 0.3s;
  box-shadow: 5px 5px 10px 0px #cfcfcf;
}

.individual-pic.is-active {opacity: 1; transform: none;}
.individual-pic:hover {filter: grayscale(0) blur(0px);}

/*contacts*/
.contact {
  height: 90vh; 
  position: relative; 
  overflow: hidden;
}

.contact-shape {
  width: 650px; 
  height: auto; 
  position: absolute; 
  margin-left: 50px;
  z-index: 1;
}

.form-container {z-index: 2;}
label {font-size: 18px; margin: 10px;}

input {
  width: 210px;
  height: 42px; 
  border-radius: 10px;
  border: 2px solid #8FCBD3;
  outline: none;
}

textarea {
  width: 210px;
  height: 106px;
  border-radius: 10px;
  border: 2px solid #8FCBD3;
  outline: none;
}

button {
  font-family: 'Big john pro', sans-serif;
  font-size: 18px; 
  border-radius: 5px; 
  border: 1px solid #919FC5;
  margin-top: 5%;
  padding: 10px 30px; 
}

.contact-line {position: absolute; top: -90px;}

/*message de validation du formulaire */
p.msg-user {
  z-index: 9999;
  font-size: 20px;
  bottom: 0px;
  background-color: #8FCBD3;
  border-radius: 10px;
  padding: 5px 10px 5px 10px; 
  color: white;
}

/*footer*/
.social {padding: 10px; transition: transform 0.3s;}
.social:hover {transform: scale(1.1);}

/* media queries */
@media screen and (max-width: 990px){

  .presentation-container { 
    flex-direction: column;
    height: auto;
    padding: 50px 0px;
  }

  .presentation-text {width: 80%; height: 80%;}
  .pictures {flex-wrap: wrap;}
  .portrait{padding: 0px;}
}

@media screen and (max-width: 850px) {

  h2 { text-align: center;}

  /* Menu burger */ 
 .header {height: 10vh; transition: all 0.3s;}

  .is-open {
    height: 80vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-bottom: 2px solid #fff; 
  }

  .is-opened {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 50px;
    font-size: 40px;
  }

  ul {display: none;}

  .burger {
    display: block;
    position: fixed; 
    z-index: 10;
    top: 5px;
    right: 15px;
    width: 50px;
    height: 50px; 
    margin: 20px;
  }

  .line-burger {
    width: 40px;
    height: 6px;
    position: absolute;
    border-radius: 5px;
    background: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .5s;
  }

  .line-burger:before,
  .line-burger:after {
  content:'';
  position: absolute;
  border-radius: 5px;
  width: 40px;
  height: 6px;
  background: #fff;
  transition: .5s;
}

.line-burger:before {top: -16px;}
.line-burger:after {top: 16px;}

.burger.active .line-burger {background: rgba(0,0,0,0);}
.burger.active .line-burger:before {top: 0; transform: rotate(45deg);}
.burger.active .line-burger:after {top: 0; transform: rotate(135deg);}
.nav-shape {visibility: hidden;}
}


@media screen and (max-width: 800px) {

  /* HeroHeader */
  .hero-shape {
    width: 219px; 
    height: auto; 
    padding-top: 5%;
  }

  .hero-header {flex-direction: column;}
  .hero-line {bottom: -50px;}

  /* présentation */ 
  .portrait {padding: 0px;}
  .aside {position: initial; padding: 10px 100px;}

  /* Projects */
  .individual-pic { width: 200px; height: 200px;}
  .projects {margin-top: 150px;}

  /*contact*/
  .contact{height: auto;}
  .contact-shape {display: none;}

  .form-container {
    background-color: white;
    padding: 6%;
    border-radius: 20px;
    margin-top: 40px;
  }
}

@media screen and (max-width: 450px) {
/* Header */
  .burger {
    top: -9px;
    right: 10px;
    width: 50px;
    height: 50px; 
    margin: 20px;
  }

  .personal-logo {width: 90px; padding: 12px;}

  /* Hero Header */ 
  .hero-titles h1 {font-size: 30px;}
  .hero-titles h2, h2 {font-size: 25px;}
  .hero-titles h3, h3 {font-size: 20px;}

  /* Présentation */ 
  .aside {font-size: 18px; padding: 10px 60px;}
  .portrait {width: 209px;}

}

/* Ipad */
@media screen and (width: 768px) and (height: 1024px) {

  /* présentation */
  .presentation-container {padding-bottom: 80px; border-radius: 20px;}
  .portrait {width: 325px;}
  .aside {padding: 10px 80px; margin-top: 50px;}

  /* projects */
  .projects {margin-top: 300px;}
}


/* Ipad pro */ 
@media screen and (width: 1024px) and (height: 1366px) {

  /* Hero Header */
  .hero-line {position: absolute; bottom: -90px;}

  /* présentation */
  .presentation-container {height: 65vh; margin-top: 90px;}

  /* projet */
  .individual-pic {margin: 20px;}
}

@media screen and (max-width: 823px) and (max-height: 614px) {

  .hero-shape {width: 180px; height: auto;}
  .hero-header {flex-direction: row;}
  .header {height: 20vh;}
  .burger {top: -5px;}
  .is-open {height: 80vh;}
  .is-opened {display: flex; flex-direction: row;}

  .contact-shape {display: none;}
  .form { 
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;

  }

  button {padding: 5px 10px; margin-top: Opx;}

  .form-container {
    background-color: #fff; 
    width: 100vw; padding: 5%;
    border-radius: 0px; 
    margin: 0px 10px;
  }

  .contact-line {display: none;}
}

/*Iphone 5 | Vertical*/
@media screen and (width: 320px) and (height: 568px) {

  /* Header */ 
  .personal-logo {padding: 5px; padding-top: 8px;}
  .header {height: 10vh;}

  .burger {
    top: -10px; 
    right: 5px; 
    width: 40px;
    height: 40px; 
  }

  /* Hero Header */
  .hero-shape {width: 150px; height: auto;}
  .hero-header {flex-direction: column;}

  /* Présentation */
  .portrait {width: 209px; height: auto;}
  .aside {padding: 10px 40px;}
  .presentation-text p {font-size: 16px;}

  /* Contacts */
  label {font-size: 16px; margin: 10px;}
  
  input {
    width: 200px;
    height: 35px; 
    border-radius: 10px;
  }
  
  .contact { height: auto;}
  .form {flex-direction: column;}
  .form-container { margin-top: 30px;}
  textarea {width: 200px; height: 180px;}
  button {font-size: 16px; margin-top: 20px;}
  p.msg-user {font-size: 16px;}
}

/*Iphone 5 | Landscape*/

@media screen and (width: 568px) and (height: 320px) {

  .hero-line{bottom: -90px}
  .hero-header h1{font-size: 30px;}
  .hero-titles{line-height: 30px;}

  .contact { height: auto;}
  .form { padding-bottom: 30px;}
  .contact-line {display: none; bottom: 40px;}
  p.msg-user {font-size: 16px; margin-top: -40px}
  textarea{ width: 380px; height: 116px;}
}